# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Java / Maven
target/
*.class
*.log

# Node
node_modules/
npm-debug.log

# Go
bin/
*.exe
*.out
*.test

# IDE / Editor
.vscode/
.idea/

# Test / Coverage reports
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db
